.coming-soon-wrapper {
  display: flex;
  width: 100%;
  gap: 30px;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.coming-soon-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  @media (min-width: 769px) {
    width: calc(50% - 15px);
  }

  @media (min-width: 1200px) {
    width: calc(
      33.33% - 20px
    ); /* 데스크탑에서는 카드를 세 열로 표시하기 위해 33.33%의 너비를 차지하도록 설정 */
  }

  .coming-soon-card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;

    @media (min-width: 280px) and (max-width: 768px) {
      display: flex;
      margin: 0 auto;
      align-items: center;
    }
  }

  .coming-soon-card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--Yellow);

    @media (min-width: 769px) {
      font-size: 2rem;
    }
  }

  .coming-soon-card-release-date {
    font-size: 1rem;

    @media (min-width: 769px) {
      font-size: 1.2rem;
    }
  }

  .coming-soon-card-img-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
  }

  .coming-soon-card-img {
    width: 100%;
    min-width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

    &:hover {
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }

    @media (min-width: 769px) {
      width: 100%;
    }
  }

  .coming-soon-card-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: var(--White);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    z-index: 100;
  }

  .coming-soon-card-img-container:hover .coming-soon-card-img-text {
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* hover 시에 텍스트 표시 */
  }
}
